<div class="bg-white shadow-lg rounded-lg p-4 flex items-center justify-between">
    <!-- Infos du cheval -->
    <div>
        <h3 class="text-lg font-bold text-gray-900">
            <a href="{% url 'horse_detail' horse.pk %}" class="link-primary">
                {{ horse.nom }}
            </a>
        </h3>
        <div class="flex items-center text-sm text-gray-600">
            {% if horse.birth_date %}
            <span class="pl-2 border-l border-gray-300 first:border-l-0 first:pl-0">{{ horse.age }} ans</span>
            {% endif %}
            {% if horse.race %}
            <span class="pl-2 border-l border-gray-300 first:border-l-0 first:pl-0">Race : {{ horse.race }}</span>
            {% endif %}
            {% if horse.couleur %}
            <span class="pl-2 border-l border-gray-300 first:border-l-0 first:pl-0">Couleur : {{ horse.couleur }} </span>
            {% endif %}

            {% with count=horse.trainings.all|length %}
                <span class="pl-2 border-l border-gray-300 first:border-l-0 first:pl-0">Entraînements : {{ count }} </span>
            {% endwith %}
        </div>
    </div>

    <!-- Actions -->

</div>
