<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden mb-4">
    <div class="p-4">
        <!-- En-tête : cheval + date -->
        <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-bold text-muletier">
                <a href="{% url 'horse_detail' session.cheval.pk %}" class="link-primary"> {{ session.cheval.nom }}</a>
            </h3>
            <span class="text-gray-700 text-sm">{{ session.date }}</span>
        </div>

        <!-- Type de séance et durée -->
        <p class="text-muletier font-medium">
            {{ session.type_seance }} - {{ session.duree }} min
        </p>

        <!-- Notes -->
        {% if session.notes %}
        <p class="mt-2 text-gray-800 text-sm italic">{{ session.notes }}</p>
        {% endif %}

        <!-- Actions -->
        <div class="mt-4 flex justify-end space-x-2">
          <a href="{% url 'training_detail' session.pk %}" class="link-primary" > more </a>
        </form>
        </div>
    </div>
</div>
